<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <appSettings>
    <add key="sLeysiV/r+dcoq19ztaUfF7KmzmN/CU+JRPaVSu0PSQ=" value="B4O7TEDM1WxN3gTd7OXzyBQ5CMsZlYfhONifpgc5fhoS6E2p9mzo+2bNCwc6cMW49wGFdVFQ6aO7UE8KrWP17CrJw2ToRFNNYm4qUl0CR3o="/>
    <add key ="IMHostPath" value="E:\SD\github\IRREGULAR MESSAGE\201309112258_IMHOST\IMHOST\" />
  </appSettings>

  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true" performanceCounters="ServiceOnly">
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <services>
      <service behaviorConfiguration="myBehavior" name="IMDA.UserDA">
        <endpoint behaviorConfiguration="myEndpointBehavior" binding="webHttpBinding" contract="IMCONTRACT.IUser"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="myEndpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="myBehavior">
          <serviceThrottling maxConcurrentCalls="10000" maxConcurrentSessions="10000" maxConcurrentInstances="10000" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />-->
  </system.serviceModel>
  
</configuration>
