<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <appSettings>
    <add key="SunnySQLConnection" value="GHd4zY6qAkaL+BKcubKT4n6i+GX/BHbqbp0l64BMEjGH8fhywuN0uhvmdVm5Tajdrnouhilev2gUQmQ2VlTZWiKpJIGOaR836Tsc4jvvbIg="/>
    <add key="SunnySecurityA1" value="GIU384KRJ43092REI12LK8GULARTLKJU"/>
    <add key="SunnySecurityA2" value="KLA13L0OKDUWYDLD"/>
    <add key ="IMHostPath" value="E:\SD\github\IRREGULAR MESSAGE\201309112258_IMHOST\IMHOST\" />
  </appSettings>

  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true" performanceCounters="ServiceOnly">
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <services>
      <service behaviorConfiguration="myBehavior" name="IMDA.UserDA">
        <endpoint behaviorConfiguration="myEndpointBehavior" binding="webHttpBinding" contract="IMCONTRACT.IUser"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="myEndpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="myBehavior">
          <serviceThrottling maxConcurrentCalls="10000" maxConcurrentSessions="10000" maxConcurrentInstances="10000" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />-->
  </system.serviceModel>
  
</configuration>
